[submodule "structlib"]
	path = structlib
	url = git@bitbucket.org:industrialrevolutioners/structlib.git
[submodule "assets"]
	path = assets
	url = git@bitbucket.org:industrialrevolutioners/grafkit-assets.git
