QPushButton {
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(138, 138, 138, 255), stop:1 rgba(207, 207, 207, 255));
    border: 1px solid #333;
    border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}

QPushButton:pressed {
    background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(207, 207, 207, 255), stop:1 rgba(138, 138, 138, 255));
}

QPushButton#btnBegin {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

QPushButton#btnEnd {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

QLineEdit#txtMusicPath {
	background-color: qlineargradient(spread:pad, x1:0, y1:1, x2:0, y2:0, stop:0 rgba(238, 238, 238, 255), stop:1 rgba(204, 204, 204, 255));
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	
	padding-left: 4px;
	
	border: 1px solid #333;
	border-right: none;
}

QPushButton#btnBrowseForMusic {
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
}
